<link rel="stylesheet" href="css/inicio.css">
<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <video src="img/video.mp4" width="100%" height="100%" autoplay muted></video>
            <a href="/registrarse" class="btn btn-primary">
                Comenzar ahora
            </a>
        </div>
    </header>
    <header class="masthead2 d-flex">
        <div class="container text-center">
            <h1 class="">Funcionalidades</h1>
            <div class="card text-center" style="width: 18rem;">
                <h3>Administrador</h3>
                <img class="card-img-top" src="img/tablet.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card text-center" style="width: 18rem;">
                <h3>Administrador</h3>
                <img class="card-img-top" src="img/smartphone.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card text-center" style="width: 18rem;">
                <h3>Administrador</h3>
                <img class="card-img-top" src="img/monitor.jfif" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>

        </div>
    </header>
</main>

