<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-f">Nombre de la aplicaci칩n</h1>
            <h3 class="mb-5">
                <em>El sistema de control de tiempo y asistencia m치s avanzado del mercado</em>
            </h3>
            <a href="/registrarse" class="btn btn-primary">
                Comenzar ahora
            </a>
        </div>
    </header>
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-f">Nombre de la aplicaci칩n</h1>
            <h3 class="mb-5">
                <em>El sistema de control de tiempo y asistencia m치s avanzado del mercado</em>
            </h3>
            <a href="/registrarse" class="btn btn-primary">
                Comenzar ahora
            </a>
        </div> 
    </header>
</main>