<link rel="stylesheet" href="/css/registrarse.css">
<div class="root">
    <form onsubmit="return validarRegistroUsuario();" method="POST" action="/signup" enctype="multipart/form-data"
        class="form-register">

        <div class="container main">
            <div class="row">
                <div class="col-sm">
                    <input type="text" name="username" placeholder="Nombre usuario" id="nombre">
                    <input type="email" name="email" placeholder="Correo" id="email">
                    <input type="password" name="contraseña" placeholder="Contraseña" id="contraseña">
                    <input type="password" name="contraseña2" placeholder="Confirmar" id="contraseña2">

                </div>
                <div class="col-sm">
                    <input type="text" name="nombre" placeholder="Nombre" id="nombre">
                    <input type="text" name="apellido" placeholder="Apellido" id="apellido">
                    <input type="tel" placeholder="Celular" name="tel" id="tel">
                    <Label>Tipo de usuario</Label>
                    <Select>
                        <option value="Empresa">Empresa</option>
                        <option value="Empresa">Empleado</option>
                    </Select>
                </div>
                <div class="col-sm">
                    <input type="file" name="foto" id="foto">
                    <input type="submit" value="Registrarse">
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/script" src="js/registrarse.js"></script>