<link rel="stylesheet" href="css/tabsRegistrosEmpresa.css">
<link rel="stylesheet" href="css/indicador.css">
<main>
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">Tareas en proceso</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">Entradas</label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3">Salidas</label>
    <section id="content1">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th class="colUser" scope="col">Usuario</th>
                    <th scope="col">Tiempo</th>
                    <th scope="col">Tarea</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="columnaUsuario" scope="row">
                        <img style="width: 70px" class="rounded-circle userTarea"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Steve_Jobs_Headshot_2010-CROP2.jpg/220px-Steve_Jobs_Headshot_2010-CROP2.jpg"
                            alt="Empleado">
                        <p>Nombre Usuario</p>
                    </th>

                    <td class="columnaTiempo">9 minutos</td>
                    <td class="columnaTarea">
                        Nombre de la tarea
                    </td>

                    <td class="columnaOpciones">
                        <span class="verde"></span>
                    </td>
                </tr>
                <tr>
                    <th class="columnaUsuario" scope="row">
                        <img style="width: 70px" class="rounded-circle userTarea"
                            src="https://specials-images.forbesimg.com/imageserve/5c76b4b84bbe6f24ad99c370/416x416.jpg?background=000000&cropX1=0&cropX2=4000&cropY1=0&cropY2=4000"
                            alt="Empleado">
                        <p>Nombre Usuario</p>
                    </th>
                    <td class="columnaTiempo">9 minutos</td>
                    <td class="columnaTarea">
                        Nombre de la tarea
                    </td>

                    <td class="columnaOpciones">
                        <span class="verde"></span>
                    </td>
                </tr>

            </tbody>
        </table>
    </section>

    <section id="content2">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th class="colUser" scope="col">Usuario</th>
                    <th scope="col">Tiempo</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="columnaUsuario" scope="row">
                        <img style="width: 70px" class="rounded-circle userTarea"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Steve_Jobs_Headshot_2010-CROP2.jpg/220px-Steve_Jobs_Headshot_2010-CROP2.jpg"
                            alt="Empleado">
                        <p>Nombre Usuario</p>
                    </th>
                    <td class="columnaTiempo"> 23/07/19 | 9 minutos</td>

                    <td class="columnaOpciones">Otto</td>
                </tr>
                <tr>
                    <th class="columnaUsuario" scope="row">
                        <img style="width: 70px" class="rounded-circle userTarea"
                            src="https://specials-images.forbesimg.com/imageserve/5c76b4b84bbe6f24ad99c370/416x416.jpg?background=000000&cropX1=0&cropX2=4000&cropY1=0&cropY2=4000"
                            alt="Empleado">
                        <p>Nombre Usuario</p>
                    </th>
                    <td class="columnaTiempo"> 23/07/19 | 10 minutos</td>
                    <td class="columnaOpciones">Otto</td>
                </tr>

            </tbody>
        </table>
    </section>

    <section id="content3">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th class="colUser" scope="col">Usuario</th>
                    <th scope="col">Tiempo</th>
                    <th scope="col">Tarea</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="columnaUsuario" scope="row">
                        <img style="width: 70px" class="rounded-circle userTarea"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Steve_Jobs_Headshot_2010-CROP2.jpg/220px-Steve_Jobs_Headshot_2010-CROP2.jpg"
                            alt="Empleado">
                        <p>Nombre Usuario</p>
                    </th>
                    <td class="columnaTiempo">9 minutos</td>
                    <td class="columnaTarea">
                        Nombre de la tarea
                    </td>

                    <td class="columnaOpciones">Otto</td>
                </tr>
                <tr>
                    <th class="columnaUsuario" scope="row">
                        <img style="width: 70px" class="rounded-circle userTarea"
                            src="https://specials-images.forbesimg.com/imageserve/5c76b4b84bbe6f24ad99c370/416x416.jpg?background=000000&cropX1=0&cropX2=4000&cropY1=0&cropY2=4000"
                            alt="Empleado">
                        <p>Nombre Usuario</p>
                    </th>

                    <td class="columnaTiempo">9 minutos</td>
                    <td class="columnaTarea">
                        Nombre de la tarea
                    </td>

                    <td class="columnaOpciones">Otto</td>
                </tr>

            </tbody>
        </table>
    </section>

</main>