

#vertical-bar {
	border-left: 1px solid #ccc;
  width:1px;
  height:50px;
}

.contenedor {
	width: 95%;
	max-width:1000px;
	margin:auto;
}

.contenedor p {
	margin-bottom:40px;
}

header nav {
	background:#034358;
	border-radius: 0px 0px 5px 5px;
	max-width:1000px;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

header nav ul {
	list-style: none;
	overflow: hidden;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	display: block;
	padding:20px;
	color:#fff;
	text-decoration: none;
}

header nav ul li a:hover {
	background:#2980b9;
}
.session{
  padding: 20px;
	color: white;
}



a{
	color: #0082ce;
}

#datosSession{
	float: right;
}

#datosSession{
	float: right;
	position: unset
}

#datosSession .datos{	
	margin: 0px 20px 0px 20px;
}


.reloj{
	color: white;
margin: 0px auto 0px auto;
position: absolute;
width: 7%;
left: 0;
text-align: center;
margin: 0 auto;
right: 0;
}
.special-img 
{
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}

	#datosSession .datos{
	 padding: 5px;
		font-size: 20px;
		text-transform: capitalize;	
	}

#datosSession img{
	width: 31px;
	border-radius:50%;
	margin: 0px 10px 0px 10px;  
}

.opciones *{
	margin: 5px;
	color: white;
	border: solid 0.1px gray;
	border-radius: 5px;
	padding: 10px
}

.export-modal-body{
	width: 500px;
	height: 100px;
}

.csv{
	height: 90px;
	background-image: url(/img/csv.png);
	background-size: 90px;
	background-repeat: no-repeat;
	background-position-x: center;
	
}

.perfil{
	text-align: right;
}

.csv:hover{
	background-color: lightgray;
	border-radius: 5px;
}

.opcionesFormato{
	padding: 20px;
}

.fecha{
	color: white;
}
.as_tar{
	cursor: pointer;
  }
.pdf{
	height: 90px;
	background-image: url(/img/pdf.png);
	background-size: 90px;
	background-repeat: no-repeat;
	background-position-x: center;
	
} 
.pdf:hover{
	background-color: lightgray;
	border-radius: 5px;
}

#opcionesEmpesas *{
	color: lightgray;
	vertical-align: text-bottom;
	
}

#opcionesEmpesas .dropdown-menu a{
	color: black;
}