

#vertical-bar {
	border-left: 1px solid #ccc;
  width:1px;
  height:50px;
}

.contenedor {
	width: 95%;
	max-width:1000px;
	margin:auto;
}

.contenedor p {
	margin-bottom:40px;
}

header nav {
	background:#034358;
	border-radius: 0px 0px 5px 5px;
	position: fixed;
		z-index:1000;
	top:0;
	max-width:1000px;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

header nav ul {
	list-style: none;
	overflow: hidden;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	display: block;
	padding:20px;
	color:#fff;
	text-decoration: none;
}

header nav ul li a:hover {
	background:#2980b9;
}
.session{
  padding: 20px;
}

a{
	color: #0082ce;
}

#datosSession{
	float: right;
}

#datosSession{
	float: right;
	position: unset
}

#datosSession .datos{	
	margin: 0px 20px 0px 20px;
}

.reloj{
	color: white;
	margin: 0px auto 0px auto;
	
}

	#datosSession .datos{
	 padding: 5px;
		font-size: 20px;
		text-transform: capitalize;	
	}

#datosSession img{
	width: 80px;
	border-radius:50%;
	margin: 0px 10px 0px 10px;
	  
}

.opciones *{
	margin: 5px;
	color: white;
	border: solid 0.1px gray;
	border-radius: 5px;
	padding: 10px
}