.containerPerfil{
    padding:20px;
    position: relative;
    top: 16%;
    width: 50%;
    margin: 0px auto 0px auto;
}

.containerPerfil .row{
    display: block;
}

#opcionesPerfil button{
    width: 100%;
    margin: 5px;
    
}

.modifiardatos{
    background: #106BA0;
    border-radius: 5px;
}

.modifiardatos .col-sm-8 input {
    width: 100%;
    border: none;
    border-radius: 3px;
    height: 30px;
    margin: 2%;
    vertical-align: center;
}
.modifiardatos .col-sm-4 *{
    text-align: center;
    color: white;
    font-size: 15px;
}


.foto img{
    width: 250px;
}

#titulo{
    color: black;
}

#opcionesPerfil i{
    vertical-align:  top;
    margin-right: 10%;
}

.foto{
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    position: initial;
}

.foto img{
    border-radius: 50%;
}

.misDatos{
    border-radius: 40px;
    width: 60%;
    margin: 3px auto 3px auto;
    padding: 15px;
    background-color: #ffff;  
    color: black;
}

.contenedor_perfil{
    position: absolute;
    top: 234px;
    left: 0;
    right: 0;
    bottom: 0;

}
}

#titulomodificar{
    text-align: center;
}
.modal-body{
    color: black;
}

.misDatos h3{
    text-align: center;
}


.fotoUsuario{
    width: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.contenedorFoto {
    margin-bottom: 20px;
}

.contenedorFoto .inputFoto{
 font-size: 14px;
 font-weight: 600;
 color: #fff;
 background-color: #106BA0;
 display: inline-block;
 transition: all .5s;
 cursor: pointer;
 padding: 15px 40px !important;
 text-transform: uppercase;
 width:100%;
 text-align: center;
    border-radius:5px;
  }

.modal-body .dato {
    margin: 10px;
    border-radius: 3px;
    
    
}

.modal-body .dato label{
    font-size: 16px;
    
}

.modal-body .dato input {
    font-size: 16px;
    border: solid 0.1px gray;
    border-radius: 3px;
    height: 30px;
    width: 50%;
    
}


