table img.fotoPerfilTabla{
  width: 70px;
  border-radius: 50%;
  margin: 0px 10px 0px 10px;
}

thead{
  background-color: #007E99;
}
th{
  color: white;
}
#lista_vacia{
  display:inline-block;
  text-align:center;
  
}


.seccion{
  display: block;
  text-align: center;
}
.material-icons{
  display: inline-flex;
  vertical-align: top;
}
p{
  color: black;
}
h3{
  color: black;
}
.main{
  position: relative;
  top: 16%;
  bottom: 0;
  left: 0;
  right: 0;
}
.titulo{
  position: relative;
left: 10%;
width: 10%;
color: white;
}
.buscador_icono{
  left: 0;
position: absolute;
padding: 10px;
pointer-events: none;
color: black
}
.buscador{
  position: relative;
  float: left;
  right: -14px;
  bottom: 2%;
}
#buscar{
  padding-left:  30px;
}
#agregar{
  position: relative;
float: right;
right: 14px;
bottom: 2%;
}
.table{
  margin-top: 6%;
}
.sessionLista{
  border-radius: 8px;
  max-width: 80%;
  padding: 20px 30px 20px 30px;
  border: 1px solid rgba(0, 0, 0, .2);
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  margin: auto;
  }

.sessionLista table{
  border-radius: 5px;
  background: white;
}

.imgTablaEmpleado{
  width: 70px;
}

.modal-body session div{
  margin-right: auto;
  margin-left: auto;
}
#btnAddPerson{
  display:inline-block
}
.modal-body session div *{
  height: 40px;
  border-radius: 5px;
  border: solid 0.1px gray;
  
}

#tablaUsuarios{
  width: 100%;
  border: solid;
  margin: auto;
   
}

#spinner{
  visibility: hidden;
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top:3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
  }
}

#spinner.show {
  visibility: visible;
}




#modalMensaje .cabeceraMensaje input{
  width: 50%;
  display: block;
  margin: 0px auto 0px auto;
  text-align: center;
  height: 30px;
}

#modalMensaje .cuerpoMensaje textarea{
  width: 100%;
  height: 50px;
  margin: 20px 0px;
}















