:root {
    --color-bg-1: #f5f6f5;
    --color-bg-2: #ffff;
    --color-btn: #005D71;
    --color-header-step: #005D71;
    --color-shadow: #ddd;
    --color-border-input: #ddd;
}
/* Contenedor principal */
.root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 16px;
    font-family: sans-serif;
    overflow: hidden;
}

/* Formulario */
.form-register {
    padding: 20px 15px;
    width: 70%;
    position: absolute;
    color: white;
    top: 12%;
    border: solid;
    height: 400px;
}


.main{
    border: solid;
    height: auto;
}
