@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo{
    position: absolute;
    left: 10%;
    bottom: 100%;
    color: white;
}
.main{
  
border-radius: 8px;
max-width: 80%;
padding: 20px 30px 20px 30px;
border: 1px solid rgba(0, 0, 0, .2);
background: #fff;
box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
margin: auto;
}
p:not(:last-child) {
    margin: 0 0 20px;
}
.main_2{
    position: relative;
    top: 24%;
    bottom: 0;
    left: 0;
    right: 0;
}

section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #abc;
}


label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: black;
    border: 1px solid transparent;
}

#tab1{
visibility: hidden;
}
#tab2{
visibility: hidden;
}
.fecha{
    text-align: center;
}
label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

label[for*='1']:before {
    content: '\f1cb';
}

label[for*='2']:before {
    content: '\f17d';
}

label[for*='3']:before {
    content: '\f16c';
}

label[for*='4']:before {
    content: '\f171';
}

label:hover {
    color: #789;
    cursor: pointer;
}

input:checked+label {
    color: #0af;
    border: 1px solid #abc;
    border-top: 2px solid #0af;
    border-bottom: 1px solid #fff;
}

thead{
background-color: #007E99
}

#lista_vacia{
    display:inline-block;
    text-align:center;
    
}
p{
    color:black
}
th{
    color:white
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4 {
    display: block;
    text-align: center;
    color: white;
}

@media screen and (max-width: 800px) {
    label {
        font-size: 0;
    }
    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    label {
        padding: 15px;
    }
}


.table .thead-light {
    color: black;
    text-align: center
}

.table tbody tr{
    text-align: center;
}

.columnaUsuario {
    text-align: left;
}

.colUser{
    text-align: start;
}

#mapid{
    height: 400px;
    border: solid;
}



#modalCaptura img{
    width: 100%;
    display: block;
    border-radius: 20px;
    margin: 0px auto 0px auto;
}



.indicadorRojo{
    width: 30px;
    color: red;
    height: 30px;
    border-radius:50%;
    border: solid 5px lightcoral;
    position: absolute;
    left: 77px;
    top: 35px;
    bottom: 0;
    right: 0;
}

.columnaTipo{
    position: relative;
}

.indicadorVerde{
    width: 30px;
    color: red;
    height: 30px;
    border: solid 5px lightgreen;
    border-radius:50%;
    position: absolute;
    left: 77px;
    top: 35px;
    bottom: 0;
    right: 0;
}


.table td{
    vertical-align: inherit;
}

