    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4>Acerca de TINE</h4>
                        <p>Proyecto hecho por<br> Lucas Ciceri y Santiago Santos - 2019</p>
                    </div>
                </div> <!-- end of col -->
             

            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->