<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
  <!-- Text Logo - Use this if you don't have a graphic logo -->
  <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Leno</a> -->

  <!-- Image Logo -->
  <a class="navbar-brand logo-image" href="/"><img src="img/TINE.png" alt="TINE"></a>

  <!-- Mobile Menu Toggle Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <i class="material-icons">
      menu
    </i>
  </button>
  <!-- end of mobile menu toggle button -->
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      {{#if user}}

      <li class="nav-item">
        <div class="reloj">
          <a href="https://time.is/Salto,_Salto" id="time_is_link" rel="nofollow" style="font-size:20px"></a>
          <span id="Salto__Salto_z15d" style="font-size:20px"></span>
          <script src="//widget.time.is/t.js"></script>
          <script>
            time_is_widget.init({ Salto__Salto_z15d: {} });
          </script>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="/personal">PERSONAL <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle page-scroll" id="navbarDropdown" role="button" aria-haspopup="true"
          aria-expanded="false">INFORMES</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a data-toggle="modal" data-target="#modalExportarAsistencias" class="dropdown-item" href="#"><span
              class="item-text">ASISTENCIAS</span></a>
          <div class="dropdown-items-divide-hr"></div>
          <a data-toggle="modal" data-target="#modalExportarTareas" class="dropdown-item" href="#"><span
              class="item-text">TAREAS</span></a>
        </div>
      </li>

      {{/if}}
      <form id="datosSession" class="form-inline my-2 my-md-0">
        {{#if user}}
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle page-scroll" id="navbarDropdown" role="button" aria-haspopup="true"
            aria-expanded="false">
            {{#if user.fotoPerfil}}
            <img src="img/perfiles/{{user.fotoPerfil}}" alt="Foto Usuario">
            {{else}}
            <img src="img/user.jpg" alt="Foto Usuario">
            {{/if}}
            {{user.nombreUsuario}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/perfil"><span class="item-text">PERFIL</span></a>
            <div class="dropdown-items-divide-hr"></div>
            <a class="dropdown-item" href="/logout"><span class="item-text">SALIR</span></a>
          </div>
        </div>
        {{else}}
        <li class="opciones nav-item">
              <li class="nav-item">
        <a class="nav-link page-scroll" href="/login">INGRESAR<span class="sr-only">(current)</span></a>
      </li>

    <li class="nav-item">
        <a class="nav-link page-scroll" href="/registrarse">REGISTRARSE</a><span class="sr-only">(current)</span></a>
      </li>
        </li>
        {{/if}}

      </form>

    </ul>
  </div>


</nav> <!-- end of navbar -->



<div class="modal fade" id="modalExportarAsistencias" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informe de Jornadas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <div class="export-modal-body">
        <div class="pdf"></div>
        <div class="csv"></div>
      </div>-->
      <div class="container opcionesFormato ">
        <div class="fecha">
          <label class="as_tar" for="inicio">Fecha de inicio</label>
          <input type="date" name="inicio" id="inputAsisInicio"><br>
          <label class="as_tar" for="fin">Fecha de fin</label>
          <input type="date" name="fin" id="inputAsisFin">
        </div>
        <div class="row">
          <div onclick="descargarAsistenciaspdf()" class="col pdf">
          </div>
          <div onclick="descargarAsistenciascsv()" class="col csv">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalExportarTareas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informe de Tareas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container opcionesFormato">
        <div class="fecha">
          <label for="inicio">Fecha de inicio</label>
          <input type="date" name="inicio" id="inputTareaInicio"><br>
          <label for="fin">Fecha de fin</label>
          <input type="date" name="fin" id="inputTareaFin">
        </div>
        <div class="row">
          <div onclick="descargarTareaspdf()" class="col pdf">
          </div>
          <div onclick="descargarTareascsv()" class="col csv">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="js/exportador.js"></script>