<section id="content1">
    <div class="cabecera">
        <img src="../public/img/TINE.png" alt="">
    </div>
    <table class="table" >
        <thead class="thead-light">
            <tr>
                <th class="col" scope="col">Documento</th>
                <th scope="col">Tarea</th>
                <th scope="col">Inicio</th>
                <th>Fin</th>
            </tr>
        </thead>
        <tbody>
            {{#if tareas}}

            {{#each tareas}} <tr>
                <td class="columnaUsuario">
                    {{Empleado}}
                </td>
                <td class="columnaTarea">
                    {{titulo}}
                </td>
                <td class="columnaTiempo">
                    {{ inicio}}
                </td>
                <td class="columnaTiempo">
                    {{fin}}
                </td>
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</section>

<style>

.cabecera{
    height: auto;
    border-radius: 5px;
    background: lightgray
}

.cabecera img{
    display: block;
    position: relative;
    width: 200px;
}

.table{
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid black;
}

.tr{
     border: 1px solid black;
}

.th{
     border: 1px solid black;
}
.table thead{
    background: lightgray;
}
.table thead tr{ 
    height: 30px;
    border-radius: 5px;
}

.table tbody tr{
    text-align: center;
}

#content1{
    width: 80%;
    margin: auto;
}


</style>

