<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" charset="UTF-8" content="text/html">
    <title>{{titulo}}</title>
    {{!-- BOOTSRAP 4 --}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link type="text/css" rel="stylesheet" href="css/general.css">
    <link type="text/css" rel="stylesheet" href="css/nav.css">
    <link type="text/css" rel="stylesheet" href="css/buscador.css">


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body>
    {{>navegacion}}
    {{>message}}
    {{{body}}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="script" src="js/nav.js"></script>
</body>

</html>