<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" charset="UTF-8" content="text/html">
    <title>{{titulo}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link type="text/css" rel="stylesheet" href="css/general.css">
    <link type="text/css" rel="stylesheet" href="css/nav.css">
    <link type="text/css" rel="stylesheet" href="css/buscador.css">
    <link href="css/swiper.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

  
    <link rel="icon" href="img/icono.png">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />

</head>

<body style="background: rgb(0,116,141);
background: linear-gradient(0deg, rgba(0,116,141,1) 71%, rgba(0,100,121,1) 97%); no-repeat  height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;">
    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->

    {{>navegacion}}
    {{>message}}
    {{{body}}}

    <script src="js/leaflet.js"></script>
      <script src="js/jquery.min.js"></script>
       <script src="js/popper.min.js"></script>

    <script type="script" src="js/nav.js"></script>
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
</body>

</html>